header{
    background-color: #219F94;
    padding: 20px;
}
nav{
    background-color: #C1DEAE;
}
section{
    background-color: #F2F5C8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    background-color: #E8E8A6;
    grid-column:1/4 ;
}
aside{
    background-color: #C1DEAE;
    padding: 90px;
    grid-column:4/5 ;
}
footer{
    background-color: #F2F5C8;
    color: black;
}
ul, ol{
    list-style:none;
    display: inline-block;
}
.menu{
    padding: opx 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.menu>li{
    float:left;
}
.menu li a{
    background-color: black;
    color: #F2F5C8;
    text-decoration: none;
    padding: 20px 80px;
    display:block;
}
.menu li a:hover{
    background-color: chocolate;
}
.menu li ul{
    display:none;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    min-width: 140px;
}
.menu li:hover > ul{
    display:block;
}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: 140px;
}    
